**/CMakeFiles/*
/bin/mb
/rules.ninja
/compile_commands.json
**/cmake_install.cmake
/build.ninja
/bin/.gdb_brestore
/bin/.gdb_brestore.txt
/bin/.gdb_history
/.ninja_deps
/.ninja_log
/CMakeCache.txt
/src/cmake_install.cmake
/src/qt/libplatform_qt.a
/src/qt/platform_qt_autogen/*
