[submodule "3rdparty/harfbuzz"]
	path = 3rdparty/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "3rdparty/SheenBidi"]
	path = 3rdparty/SheenBidi
	url = https://github.com/Tehreer/SheenBidi.git
